<% @page_title = "contents_name" %>
<% if @current_user && (@current_user.authority_id==1||@current_user.authority_id==2) %>
<%= render "shared/admin/info_bar" %>
<%= form_for [:admin, @subcategory] do |form| %>
<div class="item_info">
	<p class="top_label">SUBCATEGORY NAME</p>
	<p class="info"><%= form.text_field :name %></p>
	<%= form.hidden_field :create_user, :value => @current_user.name %>
	<%= form.hidden_field :edit_user, :value => @current_user.name %>
	<p class="label">category</p>
	<p class="info"><%= form.collection_select :category_id, Category.all, :id, :name %></p>
	<p class="label">comment</p>
	<p class="description"><%= form.text_area :comment %></p>
	<div class="button">
		<%= form.submit "CREATE", :class => "create_button" %>
	</div>
</div>
<% end %>
<% elsif @current_user && @current_user.authority_id!=1 && @current_user.authority_id!=2 %>
<%= render "shared/auth_err" %>
<% else %>
<%= render "shared/login_form" %>
<% end %>
