<% @page_title = "contents_name" %>
<% if @current_admin_user %>
<%= render "shared/admin/info_bar" %>
<% if @current_admin_user.authority_id==1||@current_admin_user.authority_id==2 %>
<div class="controll">
	<%= link_to(image_tag("edit-icon.png",:size => "30x30", :alt => "edit_"+@subcategory.id.to_s) , [:edit, :admin, @subcategory] ) %>
	<%= link_to(image_tag("delete-icon.png",:size => "30x30", :alt => "delete_"+@subcategory.id.to_s) , admin_subcategory_path(@subcategory), method: :delete, confirm: "Are You Sure to Delete「"+@subcategory.name+"」?" ) %>
</div>
<% end %>
<div class="item_info">
	<h1> <%= @subcategory.name %> </h1>
	<p class="label">category</p>
	<% category=Category.find(@subcategory.category_id) %>
	<p class="info"><%= category.name %></p>
	<p class="label">creator</p>
	<p class="info"><%= @subcategory.create_user %></p>
	<p class="label">editor</p>
	<p class="info"><%= @subcategory.edit_user %></p>
	<p class="label">created at</p>
	<p class="info"><%= @subcategory.created_at.try(:strftime,"%Y/%m/%d %H:%M") %></p>
	<p class="label">edited at</p>
	<p class="info"><%= @subcategory.updated_at.try(:strftime,"%Y/%m/%d %H:%M") %></p>
	<p class="label">comment</p>
	<p class="info"><%= simple_format(@subcategory.comment) %></p>
</div>
<% else %>
<%= render "shared/login_form" %>
<% end %>
