<% @page_title = "administrators" %>
<% if @current_user && @current_user.authority_id==1 %>
<%= render "shared/admin/info_bar" %>
<p class="controll_column_title_top">
	<%= link_to(image_tag("new.png",:size => "40x40", :alt => "new") , new_admin_administrator_path ) %>
</p>
<% if @administrators.present? %>
<div class="table">
<%= form_tag(:action=> 'plural_destroy') do %>
	<table border="1">
		<tr>
			<th class="center" width="55px">
				<p class="column_title">
					<%= image_submit_tag("delete-all-icon.png",:class => "plural_delete", :alt => "plural_delete") %>
					<%= check_box_tag "check_all", :id => "check_all" %>
				</p>
			</th>
			<th class="center" width="40px"><p class="column_title">ID</p></th>
			<th class="center" width="70px">
				<p class="controll_column_title">
					<%= link_to(image_tag("new.png",:size => "40x40", :alt => "new") , new_admin_administrator_path ) %>
				</p>
			</th>
			<th class="center" width="250px"><p class="column_title">NAME</p></th>
			<th class="center" width="250px"><p class="column_title">USERID</p></th>
			<th class="center" width="250px"><p class="column_title">AUTHORITY</p></th>
			<th class="center" width="250px"><p class="column_title">TEL</p></th>
			<th class="center" width="250px"><p class="column_title">EMAIL</p></th>
			<th class="center" width="250px"><p class="column_title">COMMENT</p></th>
			<th class="center" width="100px"><p class="column_title">CREATOR</p></th>
			<th class="center" width="100px"><p class="column_title">EDITOR</p></th>
			<th class="center" width="120px"><p class="column_title">CREATED_AT</p></th>
			<th class="center" width="120px"><p class="column_title">EDITED_AT</p></th>
		</tr>
		<% @administrators.each do|administrator|  %>
		<tr class="<%= cycle("even", "odd") -%>">
			<td class="center"><%= check_box_tag "checked_administrators[#{administrator.id}]", administrator.id, false, :class => "del_check" %></td>
			<td class="center"><%= link_to administrator.id, admin_administrator_path(administrator) , class: "link" %></td>
			<td class="center">
				<%= link_to(image_tag("edit-icon.png",:size => "20x20", :alt => "edit_"+administrator.id.to_s) , [:edit, :admin, administrator], :confirm => "Are You Sure to Delete「"+administrator.name+"」?", :class => "controll_link right" ) %>
				<%= link_to(image_tag("delete-icon.png",:size => "20x20", :alt => "delete_"+administrator.id.to_s) , admin_administrator_path(administrator), method: :delete, :confirm => "Are You Sure to Delete「"+administrator.name+"」?" , :class => "controll_link left") %>
			</td>
			<td class="center"><%= link_to administrator.name, admin_administrator_path(administrator) , class: "link" %></td>
			<td class="center"><%= administrator.userid %></td>
			<% authority=Authority.find(administrator.authority_id) %>
			<td class="center"><%= authority.name %></td>
			<td class="center"><%= administrator.tel %></td>
			<td class="center"><%= administrator.email %></td>
			<td><%= simple_format(administrator.comment) %></td>
			<td class="center"><%= administrator.create_user %></td>
			<td class="center"><%= administrator.edit_user %></td>
			<td class="center"><%= administrator.created_at.try(:strftime,"%Y/%m/%d") %></td>
			<td class="center"><%= administrator.updated_at.try(:strftime,"%Y/%m/%d") %></td>
		</tr>
		<% end %>
	</table>
<% end %>
</div>
<% else %>
	<p class="no_administrator">No administrator Registered !</p>
<% end %>

<% elsif @current_user && @current_user.authority_id!=1 %>
<%= render "shared/auth_err" %>
<% else %>
<%= render "shared/login_form" %>
<% end %>
