<%= render "shared/side_menu" %>
<% items=@cart.items %>
<% amount = @cart.getTotalPrice %>
<% if items.present? %>
<div class="table">
<%= form_tag(:action => 'plural_delete_cart_item') do %>
	<table border="1">
		<tr>
			<th class="center" width="55px">
				<p class="column_title">
					<%= image_submit_tag("delete-all-icon.png",:class => "plural_delete", :alt => "plural_delete") %>
					<%= check_box_tag "check_all",{}, false, :id => "check_all", :onclick => "AllChecked();" %>
				</p>
			</th>
			<th class="center" width="70px"></th>
			<th class="center" width="250px"><p class="column_title">NAME</p></th>
			<th class="center" width="160px"><p class="column_title">IMAGE</p></th>
			<th class="center" width="90px"><p class="column_title">PRICE</p></th>
		</tr>
		<% i = -1 %>
		<% items.each do|item|  %>
		<% i += 1 %>
		<tr class="<%= cycle("even", "odd") -%>">
			<td class="center"><%= check_box_tag "checked_items[#{i}]", i, false, :class => "del_check" %></td>
			<td class="center"><%= link_to(image_tag("delete-icon.png",:size => "20x20", :alt => "delete_"+i.to_s) , delete_cart_item_path(:no => i), :class => "controll_link left") %></td>
			<td class="center"><%= item.name %></td>
			<td class="center">
				<% main_image=MainImage.where(item_id: item) %>
				<% if main_image.present? %>
					<%= image_tag(url_for(:action => "get_image1", :id => item.id),:size => "150x255", :alt => item.name+"_1") %>
				<% end %>
			</td>
			<td class="center">
				<% denomination=Denomination.find(item.denomination_id)%>
				<%= denomination.name+item.price.to_s %>
			</td>
		</tr>
		<% end %>
		<% amount = @cart.getTotalPrice %>
		<tr class="total_th">
			<td colspan="4" class="center">TOTAL</td>
			<td class="center"	>¥<%= amount %></td>
		</tr>
	</table>
</div>
<% end %>
<%= link_to "レジへ進む", checkout_path %>
<% end %>
