<% items=@cart.items %>
<% if items.present? %>
<div class="table">
	<table border="1">
		<tr>
			<th class="center" width="40px"><p class="column_title">ID</p></th>
			<th class="center" width="250px"><p class="column_title">NAME</p></th>
			<th class="center" width="130px"><p class="column_title">SUBCATEGORY</p></th>
			<th class="center" width="100px"><p class="column_title">CATEGORY</p></th>
			<th class="center" width="90px"><p class="column_title">PRICE</p></th>
			<th class="center" width="100px"><p class="column_title">CONDITION</p></th>
			<th class="center" width="200px"><p class="column_title">SIZE</p></th>
			<th class="center" width="70px"><p class="column_title">FABRIC</p></th>
			<th class="center" width="70px"><p class="column_title">IMAGE1</p></th>
			<th class="center" width="70px"><p class="column_title">IMAGE2</p></th>
			<th class="center" width="70px"><p class="column_title">IMAGE3</p></th>
			<th class="center" width="70px"><p class="column_title">IMAGE4</p></th>
			<th class="center" width="250px"><p class="column_title">DESCRIPTION</p></th>
			<th class="center" width="60px"><p class="column_title">SOLD</p></th>
		</tr>
		<% items.each do|item|  %>
		<tr class="<%= cycle("even", "odd") -%>">
			<td class="center"><%= link_to item.id, admin_item_path(item) , class: "link" %></td>
			<td class="center"><%= link_to item.name, admin_item_path(item) , class: "link" %></td>
			<td class="center">
				<% subcategory=Subcategory.find(item.subcategory_id)%>
				<%= subcategory.name %>
			</td>
			<td class="center">
				<% category=Category.find(subcategory.category_id) %>
				<%= category.name %>
			</td>
			<td class="center">
				<% denomination=Denomination.find(item.denomination_id)%>
				<%= denomination.name+item.price.to_s %>
			</td>
			<td class="center">
				<% condition=Condition.find(item.condition_id)%>
				<%= condition.name %>
			</td>
			<td class="center"><%= simple_format(item.size) %></td>
			<td class="center">
				<% fabric=Fabric.find(item.fabric_id)%>
				<%= fabric.name %>
			</td>
			<td class="center">
				<% main_image=MainImage.where(item_id: item) %>
				<% if main_image.present? %>
					<%= image_tag(url_for(:action => "get_image1", :id => item.id),:size => "50x50", :alt => item.name+"_1") %>
				<% end %>
			</td>
			<td class="center">
				<% subimage=Subimage.where(item_id: item).first %>
				<% if subimage.present? %>
					<%= image_tag(url_for(:action => "get_image2", :id => item.id),:size => "50x50", :alt => item.name+"_2") %>
				<% end %>
			</td>
			<td class="center">
				<% subimage=Subimage.where(item_id: item).offset(1).first %>
				<% if subimage.present? %>
					<%= image_tag(url_for(:action => "get_image3", :id => item.id),:size => "50x50", :alt => item.name+"_3") %>
				<% end %>
			</td>
			<td class="center">
				<% subimage=Subimage.where(item_id: item).offset(2).first %>
				<% if subimage.present? %>
					<%= image_tag(url_for(:action => "get_image4", :id => item.id),:size => "50x50", :alt => item.name+"_4") %>
				<% end %>
			</td>
			<td><%= simple_format(item.description) %></td>
			<td class="center"><%= item.sold_flag %></td>
		</tr>
		<% end %>
		<tr><td><%= @cart.getTotalPrice %></td></tr>
	</table>
<% end %>