<div class="center">
	<p>氏名</p>
	<p><%= @name %></p>
	<p>氏名(カナ)</p>
	<p><%= @name_kana %></p>
	<p>住所</p>
	<p><%= @adress %></p>
	<p>メールアドレス</p>
	<p><%= @customer.email %></p>
	<p>カード有効期限</p>
	<p><%= @customer.active_card.exp_year %>/<%= @customer.active_card.exp_month %></p>
	<p>カード名義</p>
	<p><%= @customer.active_card.name %></p>
	<p>カード種別</p>
	<p><%= @customer.active_card.type %></p>
	<p>カード番号</p>
	<p><%= "**** **** **** " + @customer.active_card.last4 %></p>
	<p>商品</p>
	<% cart = session[:cart] %>
	<% items = cart.items %>
	<% amount = cart.getTotalPrice %>
	<% if items.present? %>
	<div class="table">
		<table border="1">
			<tr>
				<th class="center" width="40px"><p class="column_title">ID</p></th>
				<th class="center" width="250px"><p class="column_title">NAME</p></th>
				<th class="center" width="160px"><p class="column_title">IMAGE</p></th>
				<th class="center" width="80px"><p class="column_title">PRICE</p></th>
			</tr>
			<% i = -1 %>
			<% items.each do|item|  %>
			<% i += 1 %>
			<tr class="<%= cycle("even", "odd") -%>">
				<td class="center"><%= item.id %></td>
				<td class="center"><%= item.name %></td>
				<td class="center">
					<% main_image=MainImage.where(item_id: item) %>
					<% if main_image.present? %>
						<%= image_tag(url_for(:action => "get_image1", :id => item.id),:size => "150x225", :alt => item.name+"_1") %>
					<% end %>
				</td>
				<td class="center">
					<% denomination=Denomination.find(item.denomination_id)%>
					<%= denomination.name+item.price.to_s %>
				</td>
			</tr>
			<% end %>
			<tr>
				<td colspan="3" class="center">TOTAL</td>
				<td class="center"><%= amount %></td>
			</tr>
		</table>
	
		<%= form_tag(pay_path, method: :post) do %>
			<%= hidden_field_tag :adress_id, @adress_id %>
			<%= hidden_field_tag :customer_id, @customer.id %>
		
			<div class='form-group'>
					<%= submit_tag "購入", data: { disable_with: "決済中..." } %>
			    </div>
			</div>
		<% end %>
	<% end %>
</div>
