<% @page_title = "HOME" %>
<ul class="bxslider">
  <li><%= link_to(image_tag("top/NEW_ARRIVAL.jpg", :size => "1000x300", :alt => "チョコレート") )%></li>
  <li><%= link_to(image_tag("top/NEW_ARRIVAL.jpg", :size => "1000x300", :alt => "NEW ARRIVAL"), new_arrivals_path )%></li>
  <li><%= link_to(image_tag("top/RECOMMEND.jpg", :size => "1000x300", :alt => "Recommended"), recommend_path )%></li>
</ul>
<%= render "shared/side_menu" %>
<%= will_paginate @items %>
<table class="items">
	<% @items.in_groups_of(3) do |row| %>
	<tr>
		<% row.each do |item| %>
		<td>
			<% if item %>
			<div class="mosaic-block bar">
				<% if !item.sold_flag %>
				<%= form_tag(cart_path, method: :post, :class => "mosaic-overlay") do %>
					<%= hidden_field_tag :id, item.id %>
					<div class="details">
						<%= image_submit_tag("add.png",{:size => "150x225", :alt => "add", :class => "add_to_cart"}) %>
					</div>
				<% end %>
				<% end %>
				<div class="mosaic-backdrop">
					<% denomination=Denomination.find(item.denomination_id)%>
					<% if item.sold_flag %>
					<div class="soldout">
						<p>sold out</p>
					</div>
					<% end %>
					<div class="item_img">
						<% main_image=MainImage.where(item_id: item).first %>
						<% if main_image.present? %>
							<%= link_to(image_tag(url_for(:action => "get_image1", :id => item.id),:size => "150x225", :alt => item.name) , show_item_path(:item => item) ) %>
						<% end %>
					</div>
				</div>
			</div>
			<p class="price"><%= link_to denomination.name+" "+item.price.to_s, show_item_path(:item => item) %></p>
			<% end %>
		</td>
		<% end %>
	</tr>
	<% end %>
</table>