<% @page_title = "contents_name" %>
<% if @current_user %>
<% item=Item.find(@new_arrival.item_id)%>
<%= render "shared/admin/info_bar" %>
<% if @current_user.authority_id==1||@current_user.authority_id==2 %>
<div class="controll">
	<%= link_to(image_tag("edit-icon.png",:size => "30x30", :alt => "edit_"+@new_arrival.id.to_s) , [:edit, :admin, @new_arrival] ) %>
	<%= link_to(image_tag("delete-icon.png",:size => "30x30", :alt => "delete_"+@new_arrival.id.to_s) , admin_new_arrival_path(@new_arrival), method: :delete, confirm: "Are You Sure to Delete「"+item.name+"」?" ) %>
</div>
<% end %>
<table class="show_item">
	<tr>
		<td colspan="4" class="main_img">
			<% main_image=MainImage.where(item_id: @new_arrival.item_id.to_i) %>
			<% if main_image.present? %>
			<%= image_tag(url_for(:action => "get_image1", :controller => "admin/items", :id => @new_arrival.item_id.to_i),:size => "350x350", :alt => "Item"+@new_arrival.item_id.to_s+"_MainImg", :align => "middle", :id => "main_image", :name => "main_image") %>
			<% end %>
		</td>
	</tr>
	<tr class="sub_imgs">
		<td>
			<% main_image=MainImage.where(item_id: @new_arrival.item_id.to_i) %>
			<% if main_image.present? %>
			<%= image_tag(url_for(:action => "get_image1", :controller => "admin/items", :id => @new_arrival.item_id.to_i),:size => "70x70", :alt => "Item"+@new_arrival.item_id.to_s+"_Img1", :align => "middle", :class => "sub_image", :onclick => "ChangeImg('/get_image1?id="+@new_arrival.item_id.to_s+"'); void(0);") %>
			<% end %>
		</td>
		<td>
			<% subimage=Subimage.where(item_id: @new_arrival.item_id.to_i).first %>
			<% if subimage.present? %>
			<%= image_tag(url_for(:action => "get_image2", :controller => "admin/items", :id => @new_arrival.item_id.to_i),:size => "70x70", :alt => "Item"+@new_arrival.item_id.to_s+"_Img2", :align => "middle", :class => "sub_image", :onclick => "ChangeImg('/get_image2?id="+@new_arrival.item_id.to_s+"'); void(0);") %>
			<% end %>
		</td>
		<td>
			<% subimage=Subimage.where(item_id: @new_arrival.item_id.to_i).offset(1).first %>
			<% if subimage.present? %>
			<%= image_tag(url_for(:action => "get_image3", :controller => "admin/items", :id => @new_arrival.item_id.to_i),:size => "70x70", :alt => "Item"+@new_arrival.item_id.to_s+"_Img3", :align => "middle", :class => "sub_image", :onclick => "ChangeImg('/get_image3?id="+@new_arrival.item_id.to_s+"'); void(0);") %>
			<% end %>
		</td>
		<td>
			<% subimage=Subimage.where(item_id: @new_arrival.item_id.to_i).offset(2).first %>
			<% if subimage.present? %>
			<%= image_tag(url_for(:action => "get_image4", :controller => "admin/items", :id => @new_arrival.item_id.to_i),:size => "70x70", :alt => "Item"+@new_arrival.item_id.to_s+"_Img4", :align => "middle", :class => "sub_image", :onclick => "ChangeImg('/get_image4?id="+@new_arrival.item_id.to_s+"'); void(0);") %>
			<% end %>
		</td>
	</tr>
</table>
<div class="item_info">
	<h1> <%= item.name %> </h1>
	<p class="label">new comment</p>
	<p class="description"><%= simple_format(@new_arrival.new_comment) %></p>
	<p class="label">comment</p>
	<p class="description"><%= simple_format(@new_arrival.comment) %></p>
</div>
<div class="item_info">
	<p class="top_label">creator</p>
	<p class="info"><%= item.create_user %></p>
	<p class="label">editor</p>
	<p class="info"><%= @new_arrival.edit_user %></p>
	<p class="label">created at</p>
	<p class="info"><%= @new_arrival.created_at.try(:strftime,"%Y/%m/%d %H:%M") %></p>
	<p class="label">edited at</p>
	<p class="info"><%= @new_arrival.updated_at.try(:strftime,"%Y/%m/%d %H:%M") %></p>
</div>
<% else %>
<%= render "shared/login_form" %>
<% end %>
