<% @page_title = "items" %>
<% if @current_admin_user %>
<%= render "shared/admin/info_bar" %>
<% if @current_admin_user.authority_id==1||@current_admin_user.authority_id==2 %>
<p class="controll_column_title_top">
	<%= link_to(image_tag("new.png",:size => "40x40", :alt => "new") , new_admin_item_path ) %>
</p>
<% else %>
<p class="controll_column_title_top"></p>
<% end %>
<% if @items.present? %>
<div class="table">
<%= form_tag(:action=> 'plural_destroy') do %>
	<table border="1">
		<tr>
			<% if @current_admin_user.authority_id==1||@current_admin_user.authority_id==2 %>
			<th class="center" width="55px">
				<p class="column_title">
					<%= image_submit_tag("delete-all-icon.png",:class => "plural_delete", :alt => "plural_delete") %>
					<%= check_box_tag "check_all",{}, false, :id => "check_all", :onclick => "AllChecked();" %>
				</p>
			</th>
			<% end %>
			<th class="center" width="40px"><p class="column_title">ID</p></th>
			<% if @current_admin_user.authority_id==1||@current_admin_user.authority_id==2 %>
			<th class="center" width="70px">
				<p class="controll_column_title">
					<%= link_to(image_tag("new.png",:size => "40x40", :alt => "new") , new_admin_item_path ) %>
				</p>
			</th>
			<% end %>
			<th class="center" width="250px"><p class="column_title">NAME</p></th>
			<th class="center" width="130px"><p class="column_title">SUBCATEGORY</p></th>
			<th class="center" width="100px"><p class="column_title">CATEGORY</p></th>
			<th class="center" width="90px"><p class="column_title">PRICE</p></th>
			<th class="center" width="100px"><p class="column_title">CONDITION</p></th>
			<th class="center" width="200px"><p class="column_title">SIZE</p></th>
			<th class="center" width="70px"><p class="column_title">FABRIC</p></th>
			<th class="center" width="70px"><p class="column_title">IMAGE1</p></th>
			<th class="center" width="70px"><p class="column_title">IMAGE2</p></th>
			<th class="center" width="70px"><p class="column_title">IMAGE3</p></th>
			<th class="center" width="70px"><p class="column_title">IMAGE4</p></th>
			<th class="center" width="250px"><p class="column_title">DESCRIPTION</p></th>
			<th class="center" width="250px"><p class="column_title">COMMENT</p></th>
			<th class="center" width="60px"><p class="column_title">SOLD</p></th>
			<th class="center" width="100px"><p class="column_title">CREATOR</p></th>
			<th class="center" width="100px"><p class="column_title">EDITOR</p></th>
			<th class="center" width="120px"><p class="column_title">CREATED_AT</p></th>
			<th class="center" width="120px"><p class="column_title">EDITED_AT</p></th>
		</tr>
		<% @items.each do|item|  %>
		<tr class="<%= cycle("even", "odd") -%>">
			<% if @current_admin_user.authority_id==1||@current_admin_user.authority_id==2 %>
			<td class="center"><%= check_box_tag "checked_items[#{item.id}]", item.id, false, :class => "del_check" %></td>
			<% end %>
			<td class="center"><%= link_to item.id, admin_item_path(item) , class: "link" %></td>
			<% if @current_admin_user.authority_id==1||@current_admin_user.authority_id==2 %>
			<td class="center">
				<%= link_to(image_tag("edit-icon.png",:size => "20x20", :alt => "edit_"+item.id.to_s) , [:edit, :admin, item], :confirm => "Are You Sure to Delete「"+item.name+"」?", :class => "controll_link right" ) %>
				<%= link_to(image_tag("delete-icon.png",:size => "20x20", :alt => "delete_"+item.id.to_s) , admin_item_path(item), method: :delete, :confirm => "Are You Sure to Delete「"+item.name+"」?" , :class => "controll_link left") %>
			</td>
			<% end %>
			<td class="center"><%= link_to item.name, admin_item_path(item) , class: "link" %></td>
			<td class="center">
				<% subcategory=Subcategory.find(item.subcategory_id)%>
				<%= subcategory.name %>
			</td>
			<td class="center">
				<% category=Category.find(subcategory.category_id) %>
				<%= category.name %>
			</td>
			<td class="center">
				<% denomination=Denomination.find(item.denomination_id)%>
				<%= denomination.name+item.price.to_s %>
			</td>
			<td class="center">
				<% condition=Condition.find(item.condition_id)%>
				<%= condition.name %>
			</td>
			<td class="center"><%= simple_format(item.size) %></td>
			<td class="center">
				<% fabric=Fabric.find(item.fabric_id)%>
				<%= fabric.name %>
			</td>
			<td class="center">
				<% main_image=MainImage.where(item_id: item) %>
				<% if main_image.present? %>
					<%= image_tag(url_for(:action => "get_image1", :id => item.id),:size => "50x50", :alt => item.name+"_1") %>
				<% end %>
			</td>
			<td class="center">
				<% subimage=Subimage.where(item_id: item).first %>
				<% if subimage.present? %>
					<%= image_tag(url_for(:action => "get_image2", :id => item.id),:size => "50x50", :alt => item.name+"_2") %>
				<% end %>
			</td>
			<td class="center">
				<% subimage=Subimage.where(item_id: item).offset(1).first %>
				<% if subimage.present? %>
					<%= image_tag(url_for(:action => "get_image3", :id => item.id),:size => "50x50", :alt => item.name+"_3") %>
				<% end %>
			</td>
			<td class="center">
				<% subimage=Subimage.where(item_id: item).offset(2).first %>
				<% if subimage.present? %>
					<%= image_tag(url_for(:action => "get_image4", :id => item.id),:size => "50x50", :alt => item.name+"_4") %>
				<% end %>
			</td>
			<td><%= simple_format(item.description) %></td>
			<td><%= simple_format(item.comment) %></td>
			<td class="center"><%= item.sold_flag %></td>
			<td class="center"><%= item.create_user %></td>
			<td class="center"><%= item.edit_user %></td>
			<td class="center"><%= item.created_at.try(:strftime,"%Y/%m/%d") %></td>
			<td class="center"><%= item.updated_at.try(:strftime,"%Y/%m/%d") %></td>
		</tr>
		<% end %>
	</table>
<% end %>
</div>
<% else %>
	<p class="no_item">No Item Registered !</p>
<% end %>

<% else %>
<%= render "shared/login_form" %>
<% end %>
