<% @page_title = "contents_name" %>
<% if @current_user && (@current_user.authority_id==1||@current_user.authority_id==2) %>
<%= render "shared/admin/info_bar" %>
<%= form_for [:admin, @item] do |form| %>
<div class="item_info">
	<p class="top_label">ITEM NAME</p>
	<p class="info"><%= form.text_field :name %></p>
	<p class="label">category</p>
	<p class="info" id="categories"><%= select_tag :category_id, options_from_collection_for_select(Category.active.all, :id, :name) %></p>
	<p class="label">subcategory</p>
	<p class="info" id="subcategories"><%= form.collection_select :subcategory_id, Subcategory.where(:category_id => Category.first.id ).active.all, :id, :name %></p>
	<p class="label">price</p>
	<p class="info"><%= form.text_field :price %> <%= form.collection_select :denomination_id,Denomination.active.all, :id, :name %></p>
	<p class="label">condition</p>
	<p class="info"><%= form.collection_select :condition_id,Condition.active.all, :id, :name %></p>
	<p class="label">size</p>
	<p class="info">
		<%= select_tag :item_type_id, options_from_collection_for_select(ItemType.active.all, :id, :name) %>
		<div id="units"><%= form.text_area :size %></div>
	</p>
</div>
<div class="item_info">
	<p class="top_label">fabric</p>
	<p class="info"><%= form.collection_select :fabric_id,Fabric.active.all, :id, :name %></p>
	<p class="label">spike(URL)</p>
	<p class="info"><%= form.text_field :spike_url %></p>
	<p class="label">sold</p>
	<p class="info"><%= form.check_box :sold_flag %></p>
	<%= form.hidden_field :create_user, :value => @current_user.name %>
	<%= form.hidden_field :edit_user, :value => @current_user.name %>
	<p class="label">description</p>
	<p class="description"><%= form.text_area :description %></p>
	<p class="label">comment</p>
	<p class="description"><%= form.text_area :comment %></p>
</div>
<div class="item_info">
	<%= form.fields_for :main_image do |main_image_field| %>
	<p class="top_label">image1</p>
	<p class="info"><%= main_image_field.file_field :image %></p>
	<% end %>
	<% i=2 %>
	<% @item.subimages.each do |subimage| %>
	<%= form.fields_for :subimages, subimage do |subimage_field| %>
	<p class="top_label">image<%= i %></p>
	<p class="info"><%= subimage_field.file_field :image %></p>
	<% end %>
	<% i+=1 %>
	<% end %>
	<%= form.fields_for :new_arrival do |new_arrival_field| %>
	<p class="label">new_arrival</p>
	<p class="info"><%= new_arrival_field.check_box :item_id,{:checked => @item.id}, @item.id, false  %></p>
	<% end %>
	<%= form.fields_for :recommendation do |recommendation_field| %>
	<p class="label">recommendation</p>
	<p class="info"><%= recommendation_field.check_box :item_id,{:checked => @item.id}, @item.id, false  %></p>
	<% end %>
	<div class="button">
		<%= form.submit "CREATE", :class => "create_button" %>
	</div>
</div>
<% end %>
<% elsif @current_user && @current_user.authority_id!=1 && @current_user.authority_id!=2 %>
<%= render "shared/auth_err" %>
<% else %>
<%= render "shared/login_form" %>
<% end %>
