<% @page_title = "recommendations" %>
<% if @current_user %>
<%= render "shared/admin/info_bar" %>
<p class="controll_column_title_top"></p>
<% if @recommendations.present? %>
<div class="table">
<%= form_tag(:action=> 'plural_destroy') do %>
	<table border="1">
		<tr>
			<% if @current_user.authority_id==1||@current_user.authority_id==2 %>
			<th class="center" width="55px">
				<p class="column_title">
					<%= image_submit_tag("delete-all-icon.png",:class => "plural_delete", :alt => "plural_delete") %>
					<%= check_box_tag "check_all",{}, false, :id => "check_all", :onclick => "AllChecked();" %>
				</p>
			</th>
			<% end %>
			<th class="center" width="40px"><p class="column_title">ID</p></th>
			<th class="center" width="70px"><p class="controll_column_title"></p></th>
			<th class="center" width="150px"><p class="column_title">ITEM_ID</p></th>
			<th class="center" width="250px"><p class="column_title">NAME</p></th>
			<th class="center" width="70px"><p class="column_title">MAIN IMG</p></th>
			<th class="center" width="70px"><p class="column_title">REC IMG</p></th>
			<th class="center" width="70px"><p class="column_title">RELATED ITEM1</p></th>
			<th class="center" width="70px"><p class="column_title">RELATED ITEM2</p></th>
			<th class="center" width="70px"><p class="column_title">RELATED ITEM3</p></th>
			<th class="center" width="70px"><p class="column_title">RELATED ITEM4</p></th>
			<th class="center" width="200px"><p class="column_title">RECOMMENDATION</p></th>
			<th class="center" width="250px"><p class="column_title">COMMENT</p></th>
			<th class="center" width="100px"><p class="column_title">CREATOR</p></th>
			<th class="center" width="100px"><p class="column_title">EDITOR</p></th>
			<th class="center" width="120px"><p class="column_title">CREATED_AT</p></th>
			<th class="center" width="120px"><p class="column_title">EDITED_AT</p></th>
		</tr>
		<% @recommendations.each do|recommendation|  %>
		<tr class="<%= cycle("even", "odd") -%>">
			<% item=Item.find(recommendation.item_id)%>
			<% if @current_user.authority_id==1||@current_user.authority_id==2 %>
			<td class="center"><%= check_box_tag "checked_recommendations[#{recommendation.id}]", recommendation.id, false, :class => "del_check" %></td>
			<% end %>
			<td class="center"><%= link_to recommendation.id, admin_recommendation_path(recommendation) , class: "link" %></td>
			<% if @current_user.authority_id==1||@current_user.authority_id==2 %>
			<td class="center">
				<%= link_to(image_tag("edit-icon.png",:size => "20x20", :alt => "edit_"+recommendation.id.to_s) , [:edit, :admin, recommendation], :confirm => "Are You Sure to Delete「"+item.name+"」?", :class => "controll_link right" ) %>
				<%= link_to(image_tag("delete-icon.png",:size => "20x20", :alt => "delete_"+recommendation.id.to_s) , admin_recommendation_path(recommendation), method: :delete, :confirm => "Are You Sure to Delete「"+item.name+"」?" , :class => "controll_link left") %>
			</td>
			<% end %>
			<td class="center"><%= link_to recommendation.item_id, admin_recommendation_path(recommendation) , class: "link" %></td>
			<td class="center">
				<%= item.name %>
			</td>
			<td class="center">
				<% main_image=MainImage.where(item_id: recommendation.item_id.to_i) %>
				<% if main_image.present? %>
					<%= link_to image_tag(url_for(:action => "get_image1", :controller => "admin/items", :id => recommendation.item_id.to_i),:size => "50x50", :alt => item.name+"_MainImg"), admin_item_path(item) , class: "link" %>
				<% end %>
			</td>
			<td class="center">
				<% recommendation_image=RecommendationImage.where(recommendation_id: recommendation) %>
				<% if recommendation_image.present? %>
					<%= image_tag(url_for(:action => "get_image", :id => recommendation.id),:size => "50x50", :alt => item.name+"_recommended") %>
				<% end %>
			</td>
			<td class="center">
				<% related_image1=MainImage.where(item_id: recommendation.related_item_id1.to_i) %>
				<% if related_image1.present? %>
					<%= link_to image_tag(url_for(:action => "get_image1", :controller => "admin/items", :id => recommendation.related_item_id1.to_i),:size => "50x50", :alt => "Item"+recommendation.related_item_id1.to_s+"_MainImg"), admin_item_path(recommendation.related_item_id1.to_i) , class: "link" %>
				<% end %>
			</td>
			<td class="center">
				<% related_image2=MainImage.where(item_id: recommendation.related_item_id2.to_i) %>
				<% if related_image2.present? %>
					<%= link_to image_tag(url_for(:action => "get_image1", :controller => "admin/items", :id => recommendation.related_item_id2.to_i),:size => "50x50", :alt => "Item"+recommendation.related_item_id2.to_s+"_MainImg"), admin_item_path(recommendation.related_item_id2.to_i) , class: "link" %>
				<% end %>
			</td>
			<td class="center">
				<% related_image3=MainImage.where(item_id: recommendation.related_item_id3.to_i) %>
				<% if related_image3.present? %>
					<%= link_to image_tag(url_for(:action => "get_image1", :controller => "admin/items", :id => recommendation.related_item_id3.to_i),:size => "50x50", :alt => "Item"+recommendation.related_item_id3.to_s+"_MainImg"), admin_item_path(recommendation.related_item_id3.to_i) , class: "link" %>
				<% end %>
			</td>
			<td class="center">
				<% related_image4=MainImage.where(item_id: recommendation.related_item_id4.to_i) %>
				<% if related_image4.present? %>
					<%= link_to image_tag(url_for(:action => "get_image1", :controller => "admin/items", :id => recommendation.related_item_id4.to_i),:size => "50x50", :alt => "Item"+recommendation.related_item_id4.to_s+"_MainImg"), admin_item_path(recommendation.related_item_id4.to_i) , class: "link" %>
				<% end %>
			</td>
			<td><%= simple_format(recommendation.recommendation) %></td>
			<td><%= simple_format(recommendation.comment) %></td>
			<td class="center"><%= item.create_user %></td>
			<td class="center"><%= recommendation.edit_user %></td>
			<td class="center"><%= recommendation.created_at.try(:strftime,"%Y/%m/%d") %></td>
			<td class="center"><%= recommendation.updated_at.try(:strftime,"%Y/%m/%d") %></td>
		</tr>
		<% end %>
	</table>
<% end %>
</div>
<% else %>
	<p class="no_recommendation">No Recommendation Registered !</p>
<% end %>

<% else %>
<%= render "shared/login_form" %>
<% end %>
