<div class="log_info">
	<%= link_to "LOGOUT", :admin_session, method: :delete, :confirm => "ログアウトしますか？" %>
	<p class="user_info">CURRENT USER：<%= @current_admin_user.name %></p>
	<p class="info_bar">
		<% if @administrator %><%= link_to "administrators", admin_administrators_path %><% end %>
		<% if @authority %><%= link_to "authorities", admin_authorities_path %><% end %>
		<% if @category && !@item %><%= link_to "categories", admin_categories_path %><% end %>
		<% if @subcategory && !@item %><%= link_to "subcategories", admin_subcategories_path %><% end %>
		<% if @condition %><%= link_to "conditions", admin_conditions_path %><% end %>
		<% if @denomination %><%= link_to "denominations", admin_denominations_path %><% end %>
		<% if @fabric %><%= link_to "fabrics", admin_fabrics_path %><% end %>
		<% if @item_type %><%= link_to "item_types", admin_item_types_path %><% end %>
		<% if @item %><%= link_to "items", admin_items_path %><% end %>
		<% if @unit %><%= link_to "units", admin_units_path %><% end %>
		<% if @new_arrival %><%= link_to "new arrivals", admin_new_arrivals_path %><% end %>
		<% if @recommendation %><%= link_to "recommendations", admin_recommendations_path %><% end %>
		<% if @status %><%= link_to "statuses", admin_statuses_path %><% end %>
		<% if @color %><%= link_to "colors", admin_colors_path %><% end %>
	</p>
</div>