<% @page_title = "contents_name" %>
<% if @current_admin_user && @current_admin_user.authority_id==1 %>
<%= render "shared/admin/info_bar" %>
<%= form_for [:admin, @authority] do |form| %>
<div class="item_info">
	<p class="top_label">AUTHORITY NAME</p>
	<p class="info"><%= form.text_field :name %></p>
	<p class="label">authority</p>
	<p class="description"><%= form.text_area :authority %></p>
	<p class="label">comment</p>
	<p class="description"><%= form.text_area :comment %></p>
	<div class="button">
		<%= form.submit "UPDATE", :class => "update_button" %>
	</div>
</div>
<% end %>
<% elsif @current_admin_user && @current_admin_user.authority_id!=1 %>
<%= render "shared/auth_err" %>
<% else %>
<%= render "shared/login_form" %>
<% end %>